.board {
    position: relative;
    width: 800px;
    height: 800px;
    margin-bottom: 0px;
    padding-right: 30px;
}

.board-grid {
    position: absolute;
    width: 800px;
    height: 800px;
    display: grid;
	margin-bottom: 0px;
	grid-gap: 1px;
}

.lines {
    grid-template-rows: repeat(16, 50px);
    grid-template-columns: repeat(16, 50px);
    z-index: -1;
}

.pieces {
    grid-template-rows: repeat(15, 50px);
    grid-template-columns: repeat(15, 50px);
    z-index: 0;
    padding-left: 32px;
    padding-top: 32px;
}

.cell-lines {
    outline: 1px solid #bab2b5;
}


.circle {
    z-index: 4;
    height: 35px;
    width: 35px;
    border-radius: 100%;
}

.circle.p1 {
    background-color: #123c69;
}

.circle.p2 {
    background-color: #ac3b61;
}

.highlight {
    animation: scaleIn 1s infinite cubic-bezier(.36, .11, .89, .32);
}
@keyframes scaleIn {
  from {
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    transform: scale(1, 1);
    opacity: 0.5;
  }
}
/* .highlight {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
} */
/* @keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
} */
