.board {
    position: relative;
    width: 800px;
    height: 800px;
    margin-bottom: 0px;
    padding-right: 30px;
}

.board-grid {
    position: absolute;
    width: 800px;
    height: 800px;
    display: grid;
	margin-bottom: 0px;
	grid-gap: 1px;
}

.lines {
    grid-template-rows: repeat(16, 50px);
    grid-template-columns: repeat(16, 50px);
    z-index: -1;
}

.pieces {
    grid-template-rows: repeat(15, 50px);
    grid-template-columns: repeat(15, 50px);
    z-index: 0;
    padding-left: 32px;
    padding-top: 32px;
}

.cell-lines {
    outline: 1px solid #bab2b5;
}


.circle {
    z-index: 4;
    height: 35px;
    width: 35px;
    border-radius: 100%;
}

.circle.p1 {
    background-color: #123c69;
}

.circle.p2 {
    background-color: #ac3b61;
}

.highlight {
    outline: 2px solid black;
}
